<div>
  <h1>Shops</h1>

  <h2><%= link_to "", new_shop_path, class: "fas fa-plus-circle" %></h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @shops.each do |shop| %>
        <tr>
          <td><%= shop.name %></td>
          <td><%= link_to "", edit_shop_path(shop), class: "fas fa-edit" %></td>
          <td><%= link_to "", shop_path(shop), method: :delete, class: "fas fa-trash" %></td>
          <td><%= link_to "", shop_path(shop), class: "fas fa-eye" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>